/* .brand-type-selector h2 {
  margin-bottom: 10px;
  color: #ffffff;
}
.section{
  display: flex;
  width: 80%;
  margin: auto;
}
.selection{
  width: 40%;
  justify-content: space-between;
}
.image-uploader{
  width: 40%;
  justify-content: space-between;
  background-color: #292929;
  margin-right: 10%;
  border-radius: 10px;
  min-height: 20px;
}
.brand-type-selector select {
  width: 125px ;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  font-size: 20px;
  background-color: #494848;
}
.guidelines-container {
  margin: auto ;
  width: 80%;
  max-width: 80%;
  background-color: #292929;
  border-radius: 10px;
  min-height: 200px;
}

.guidelines-heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-align:left;
  line-height: 36px;
  color: #ffffff;
  padding-left: 20px;
  padding-top: 15px;
} 
.p {
  font-size: 1rem;
  text-align:left;
  line-height: 36px;
  color: #ffffff;
  padding-left: 20px;
  padding-top: 15px;
}
.imageText{
  font-size: 1.5rem;
  font-weight: bold;
  text-align:center;
  line-height: 36px;
  color: #ffffff;
  padding-left: 20px;
  padding-top: 15px;
}
.imageText2{
  font-size: 1.5rem;
  font-weight: bold;
  text-align:center;
  line-height: 36px;
  color: #565656;
  padding-left: 20px;
  padding-top: 15px;
}
proceed-button {
  width: 125px ;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  font-size: 20px;
  background-color: #494848;
  
}

.proceed-button:hover {
  background-color: #545454;
  border-radius: 50%;
}