
.header{
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    
}
.nav{
    display: flex;
    justify-content: space-around;
    width: 30%; 
    font-size: 80%;
    padding-top: 1%;
    padding-left: 50%;
    cursor: pointer;
}

.navTopic:hover{
    color: rgb(199, 193, 193);
}