/* navBar.css */

.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
  font-size: 2.8rem;
  text-decoration: none;
  color: white;
  font-family: Algerian, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Apply Algerian font */
}

.nav-items {
  font-size: 1.2rem;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items li {
  margin-right: 20px;
}

.nav-items a {
  color: inherit;
  text-decoration: none;
  padding: 5px 20px;
  transition: all 0.3s ease;
}

.nav-items a:hover {
  background-color: grey;
  color: black;
  border-radius: 5px;
}
